<div class="post-card">
  <a href="/post/{{id}}">  
  <div class="post-card-header">
    {{title}}
  </div>
  <div class="card-body">
    <p>
      
      {{post_content}}
    </p>
    <p>
      user:
      {{user.username}} {{format_date created_on}}
    </p>
    
     
  </div>
  </a>
</div>

