<div class="edit-dish-container">
  <h2>
    Update Dish
  </h2>
  <form class="edit-dish-form">
    <label for="dish_name">
      Dish Name:
    </label>
    <br />
    <textarea id="dish_name" name="dish_name" rows="2" cols="30">
      {{dish_name}}
    </textarea>
    <br />
    <label for="description">
      Description:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <label for="guest_name">
      Guest Name:
    </label>
    <br />
    <textarea id="guest_name" name="guest_name" rows="2" cols="30">
      {{guest_name}}
    </textarea>
    <br />
    <br />
    <input type="checkbox" id="has_nuts" name="has_nuts" value="true" />
    <label for="has_nuts">
      Check box if this dish contains nuts
    </label>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-post.js"></script>
  <!-- This is the form for adding a new dish -->

  <div class="add-dish-container">
    <h2>
      RSVP with the dish you plan to bring!
    </h2>
    <form class="new-dish-form">
      <label for="dish_name">
        Dish Name:
      </label>
      <br />
      <textarea id="dish_name" name="dish_name" rows="2" cols="30">
      {{user_name}}
    </textarea>
      <br />
      <label for="content">
        Content:
      </label>
      <br />
      <textarea id="content" name="content" rows="5" cols="30">
      {{post_content}}
    </textarea>
      <br />
      <label for="user_name">
        User Name:
      </label>
      <br />
      <textarea id="user_name" name="user_name" rows="2" cols="30">
      {{user_name}}
    </textarea>
      <br />
      <br />
     
    
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="/js/add-post.js"></script>