<div class="dish-card">
  <div class="dish-card-header">
    {{title}}
  </div>
  <div class="card-body">
    <p>
      Content:
      {{post_content}}
    </p>
    <p>
      Posted by:
      {{user_name}} on {{created_on}}
    </p>
    <p>
      {{comment_text}}
    </p>
    
     
  </div>
</div>


