<div class="post-card">
  <div class="post-card-header">
    {{post.title}}
  </div>
  <div class="card-body">
    <h4>
     
      {{post.post_content}}
    </h4>
    <p>
      Posted by:
      {{post.user.username}} on {{format_date post.createdAt}}
    </p>
    <p>Comments:</p>
    
      {{#each post.comments}}
      {{> comment}}
      {{/each}}
     
  
    <div class="add-comment-container">
      <h3>Add a Comment</h3>
      <form class="new-comment-form" id="new-comment">
        <div class="form-group">
          <label for="comment-title">Topic:</label>
          <input type="text" value="{{post.title}}">
        </div>
        <div class="form-group">
          <label for="comment-text">Comment:</label>
          <textarea name="comment-text" id="comment-text" class="form-input" placeholder="add comment here"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    
    </div>
    
  </div>
</div>
  <script src="../js/add-comment.js"></script>

